Source: oxygen-transparent
Section: kde
Priority: optional
Maintainer: Daniele E. Domenichelli <daniele.domenichelli@gmail.com>
Build-Depends: pkg-kde-tools (>= 0.14),
 debhelper (>= 9),
 cmake (>= 2.6.4),
 kdelibs5-dev (>= 4:4.10),
 kde-workspace-dev (>= 4:4.10),
 libx11-dev,
 libxrender-dev
Standards-Version: 3.9.4
Homepage: http://www.kde.org/
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/oxygen-transparent.git
Vcs-Browser: http://anonscm.debian.org/?p=pkg-kde/kde-extras/oxygen-transparent.git

Package: kde-style-oxygen-transparent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Oxygen-transparent widget style for KDE 4
 This package contains the Oxygen-transparent widget style for KDE 4.
 .
 Oxygen-transparent is a fork of the default KDE widget and window
 decoration theme (Oxygen) that supports transparency for application
 windows. It requires that compositing is supported on your system and
 that desktop effects are enabled. It is best used with kwin's blur
 effect.

Package: kwin-style-oxygen-transparent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 kde-style-oxygen-transparent (= ${binary:Version})
Description: Oxygen-transparent window decoration for KWin
 This package contains the Oxygen-transparent window decoration for
 KWin.
 .
 Oxygen-transparent is a fork of the default KDE widget and window
 decoration theme (Oxygen) that supports transparency for application
 windows. It requires that compositing is supported on your system and
 that desktop effects are enabled. It is best used with kwin's blur
 effect.

Package: oxygen-transparent
Section: metapackages
Architecture: all
Depends: ${misc:Depends},
 kde-style-oxygen-transparent, kwin-style-oxygen-transparent
Description: Transparent decoration theme for KDE (meta-package)
 This package installs all packages related with Oxygen-transparent:
  * kde-style-oxygen-transparent
  * kwin-style-oxygen-transparent
 .
 Oxygen-transparent is a fork of the default KDE widget and window
 decoration theme (Oxygen) that supports transparency for application
 windows. It requires that compositing is supported on your system and
 that desktop effects are enabled. It is best used with kwin's blur
 effect.

Package: oxygen-transparent-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
 kde-style-oxygen-transparent (= ${binary:Version}) |
 kwin-style-oxygen-transparent (= ${binary:Version})
Recommends: kdelibs5-dbg
Description: debugging symbols for Oxygen-transparent style for KDE
 This package contains debugging files used to investigate problems with the
 Oxygen-transparent.
 .
 Oxygen-transparent is a fork of the default KDE widget and window
 decoration theme (Oxygen) that supports transparency for application
 windows. It requires that compositing is supported on your system and
 that desktop effects are enabled. It is best used with kwin's blur
 effect.
